langchain_openai
langchain
langgraph
langchain_community
pypdf
PyPDF2
pydub
SpeechRecognition
openai-whisper
torch
numpy
urllib3
openai
click
python-dotenv
faiss-cpu
sounddevice
langchain_groq
calendly-python
sendgrid
pandas
openpyxl
langchain-groq
python-dotenv
streamlit
pyautogui
pygame