langchain_openai
langchain
langchain_community
PyPDF2
pydub
SpeechRecognition
openai-whisper
torch
numpy
urllib3
openai
click
python-dotenv
faiss-cpu
pyaudio
sounddevice
langchain_groq
calendly-python
sendgrid
pandas
openpyxl
langchain-groq
